.isChecked{
    text-decoration: line-through;
    
}
.NoChecked{
    text-decoration: none;
}
.dateCheck{
    color: rgb(255, 11, 11) ;
    font-weight: bold;
}
.dateNoCheck{
    color: rgb(47, 210, 7) ;
    font-weight: bold;
}